/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #fff;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: #4b8ef1;
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #4b8ef1;
    border-radius: 50%;
}

/*
---------------------------
navbar
---------------------------
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --text-color: #ffffff;
    --main-color: #13bbff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --navside: #191d21;
    --big-font: 4.5rem;
    --h4-font: 1.6rem;
    --p-font: 1.1rem;
}

html {
    height: 100%;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
    height: 100%;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    height: 50px;
    transition: all .50s ease;
}

nav.sticky {
    background: var(--bg-color);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    padding: 30px 16%;
}

.logo {
    font-size: 28px;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
}

span {
    color: var(--main-color);
    text-decoration: none;
}

.navlist {
    display: flex;
    margin-bottom: 0;
    gap: 2.5rem;
    align-items: center;
}

.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .50s ease;
    text-decoration: none;
}

.navlist a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

a:hover svg path {
    fill: var(--main-color);
    transition: all .50s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: var(--navside);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 20px 2rem;
    transition: 0.75s ease-out;
}

.sidebar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    transition: all .50s ease;
    text-decoration: none;
}

.sidebar a:hover {
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

.showHam {
    display: none;
}

/*
---------------------------
home page
---------------------------
*/

.container-home {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 2rem 2rem 2rem;
}

header {
    position: relative;
    padding-top: 2rem;
}

.round {
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.text_logo {
    background: transparent;
    width: 400px;
}

header .image {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    padding-top: 1rem;
}

header .image img {
    max-width: 500px;
    margin: auto;
}

header .content p {
    margin-top: 2rem;
    font-size: 20px;
    text-align: justify;
}

.h-btn {
    display: inline-block;
    padding: 7px 15px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    transition: all .50s ease;
}

.h-btn:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1);
}

section .header {
    margin-bottom: 1rem;
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

section p {
    text-align: justify;
    font-size: 16px;
}

.all_btn {
    display: flex;
    justify-content: center;
}

.animated_text {
    display: flex;
    justify-content: center;
    background: var(--second-bg-color);
    padding: 3rem;
    margin-bottom: 2rem;
    transition: all .50s ease;
}

.animated_text p {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.neon_typed {
    color: #fff;
    text-shadow: 0 0 7px #00FFFF, 0 0 10px #00FFFF, 0 0 21px #00FFFF, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

/*
---------------------------
about
---------------------------
*/

h2.about_page {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2.25rem;
}

.about_text {
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.1rem;
}

.box {
    padding: 80px 30px 66px;
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
}

.rounded_image {
    border-radius: 50%;
    width: 150px;
    border: 7px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    margin: -2rem 0 1rem 0;
}

.for_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex-grow: 1;
}

.footer {
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    background: var(--second-bg-color);
}

.footer p {
    margin-bottom: 0;
}

.grid_columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid_columns p {
    margin-bottom: 0;
}

.column p  {
    display: flex;
    justify-content: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid_columns .column .socials a {
    color: var(--main-color);
    border-radius: 3px solid var(--main-color);
    padding: 2px 5px 0 5px;
    border-radius: 100%;
    margin-top: 2px;
    transition: all .50s ease;
}

.grid_columns a:hover {
    box-shadow: 0 0 10px var(--main-color);
}

.copy_footer {
    display: flex;
    justify-content: center;
}

.copyright {
    text-align: center;
    padding-top: 1rem;
    background: var(--second-bg-color);
}
/*
---------------------------
devices
---------------------------
*/

.btn_device {
    padding: 11px 26px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    transition: all .50s ease;
    font-weight: 550;
    margin: 5px 10px 5px 0;
    width: 55vh;
    cursor: pointer;
}

.btn_device_key:hover {
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1);
}

.btn_device .a-default {
    color: var(--main-color);
    text-decoration: none;
}

.btn_device .a-default:hover {
    color: var(--bg-color);
    text-decoration: none;
}

.a-default {
    color: var(--main-color);
    text-decoration: none;
}

.a-default:hover {
    color: var(--bg-color);
    text-decoration: none;
}

.a-btn {
    width: 100%;
    padding: 7px 15px;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    transition: all .50s ease;
}

/*
---------------------------
profile
---------------------------
*/

.rounded-circle {
    border-radius: 50%;
    width: 100px;
}

/*
---------------------------
keys
---------------------------
*/

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
    display: flex;
    text-align: center;
}
.list-pages ul li {
	margin: 0 10px 0 0;
}
.list-pages a {
	color: var(--main-color);
	font-size: 24px;
	text-decoration: none;
    position: relative;
}
.list-pages .page-num {
	width: 40px;
	height: 40px;
	border: 3px solid var(--main-color);
	border-radius: 50%;
}
.list-pages .page-num:hover {
	box-shadow: 0 0 10px var(--main-color); 
}
.list-pages .page-num-selected {
	border: none;
	color: var(--main-color);
	font-size: 24px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none; 
}

/*
---------------------------
errors
---------------------------
*/

