/* typed text */

@media(max-width: 1105px) {
    .animated_text p {
        font-size: 30px;
    }
}

@media(max-width: 855px) {
    .animated_text p {
        font-size: 25px;
    }
}

@media(max-width: 735px) {
    .animated_text p {
        font-size: 20px;
    }

    .animated_text {
        padding: 2rem;
    }
}

@media(max-width: 610px) {
    .animated_text p {
        font-size: 15px;
    }

    .animated_text {
        padding: 1.5rem;
    }
}

/* navbar */

@media(max-width: 885px) {
    .navlist > *:not(:last-child) {
        display: none;
    }

    .showHam {
        display: flex;
    }
}

@media(max-width: 500px) {
    nav {
        padding: 40px 8%;
    }

    nav.sticky {
        padding: 30px 8%;
    }
}

 /* main */

 @media(max-width: 700px) {
    .container-home {
        padding-top: 2rem;
    }
}

 /* header */

@media(max-width: 550px) {
    header .image img {
        max-width: 350px;
        margin: auto;
    }
}

@media(max-width: 500px) {
    header .content p {
        font-size: 18px;
    }
}

@media(max-width: 440px) {
    header .image img {
        max-width: 250px;
        margin: auto;
    }

    .animated_text p {
        font-size: 12px;
    }

    header .content p {
        font-size: 16px;
    }

    .container-home {
        padding-top: 1.5rem;
    }

    section .header {
        font-size: 1.75rem;
    }

}

/* about */

@media(max-width: 1250px) {
    .about_text {
        margin: 2rem 1rem;
    }
}

@media(max-width: 1150px) {
    .about_text {
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
}

@media(max-width: 700px) {
    .about_text {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* footer */

@media (max-width: 785px) {
    .grid_columns {
        grid-template-columns: none;
    }
}

/* fix bootstrap 5*/
.row {
    --bs-gutter-x: 0;
    margin: 0;
}

@media(min-width: 765px) {
    .btn_device {
        margin: 5px 10px 5px 0;
    }
}


@media(max-width: 995px) {
    .profile {
        margin-bottom: 1rem;
    }
}

@media(max-width: 768px) {
    .a-change {
        margin-bottom: 1rem;
    }

    .media-profile {
        text-align: center;
    }

    .input-profile {
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 1200px) {
    div.col-xl-4 {
        width: 32%;
    }
}

