.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
    border-radius: 10px;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    background: #ffffff;
    padding: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.close-popup {
    position: absolute;
    top: 85%;
    right: 10px;
}

.lining {
    text-align: center;
}

.block-line {
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}

.block-form {
    border-radius: 10px;
    border: 1px solid;
    padding: 5px;
    width: 42%;
    margin: 10px;
}


.block-line {
    color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.a-default {
    color: #333333;
    background-color: #000000;
    border-color: #cccccc;
}

.block-line:hover,
.block-line:focus,
.block-line:active,
.block-line.active,
.open .dropdown-toggle.block-line {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
}

.a-default:hover,
.a-default:focus,
.a-default:active,
.a-default.active,
.open .dropdown-toggle.a-default {
    color: #333333;
    background-color: #ebebeb;
    border-color: #adadad;
    text-decoration: none;
}

.a-default:active,
.a-default.active,
.open .dropdown-toggle.a-default {
    background-image: none;

}

.block-line:active,
.block-line.active,
.open .dropdown-toggle.block-line {
    background-image: none;
}

.a-default.disabled,
.a-default[disabled],
fieldset[disabled] .a-default,
.a-default.disabled:hover,
.a-default[disabled]:hover,
fieldset[disabled] .a-default:hover,
.a-default.disabled:focus,
.a-default[disabled]:focus,
fieldset[disabled] .a-default:focus,
.a-default.disabled:active,
.a-default[disabled]:active,
fieldset[disabled] .a-default:active,
.a-default.disabled.active,
.a-default[disabled].active,
fieldset[disabled] .a-default.active {
    background-color: #000000;
    border-color: #cccccc;
}


.a-center {
    margin-left: 9px;
}

.a-center-code {
    margin-left: 85px;
}


