{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>Here you can add your devices</h3>
<hr />

<div class="container dvcs">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3">
        {% for block in data %}
        <div class="block-line">
            <a href="{% url 'your_device' block.id %}" class="a-default">
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Device name</label>
                    <div class="col-lg-4 lining">
                        {{ block.device_name }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Serial Num</label>
                    <div class="col-lg-4 lining">
                        {{ block.serial_num }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Status</label>
                    <div class="col-lg-4 lining">
                        {{ block.status }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% if is_paginated %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        <li class="page-num">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
