{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<header class="container-home">
    <div class="content">
        <div class="image">
            <img src="{% static 'app/own_pictures/seld_pixian_ai.png' %}" alt="None" class="text_logo"> 
        </div>
        <p>
            SELD - умный электронный замок контролируемый пользователем через приложение. 
            Он сможет полностью настроить замок под свои нужды. 
            Дистанционное открытие замка, создание постоянных и временных кодов доступа и NFC ключи, 
            отслеживание состояние замка в реальном времени, 
            ведение необходимой пользователю статистики и особые настройки безопасности 
            (например изменение клавиатуры для большей защиты).
        </p>
    </div>
    <div class="image">
        <img src="{% static 'app/own_pictures/Lock_SELD_square.jpg' %}" alt="None" class="round"> 
    </div>
</header>

<div class="animated_text">
    <p>SELD -&nbsp<p class="typed_text"></p></p>
</div>

<section>
    <div class="container">
        <h2 class="header">Мобильное приложение</h2>
        <p>
            Приложение будет обладать удобным, красивым и минималистичным дизайном. 
            С помощью приложения пользователь сможет проводить настройку замка, 
            выставлять коды доступа и генерировать NFC ключи. 
            У пользователя может одновременно быть зарегистрировано несколько замков, 
            и пользователь сможет проводить индивидуальную настройку каждого замка.
        </p>
        <div class="all_btn">
            <a class="h-btn a-default" style="cursor: pointer;" href="{% url 'download_apk_file' %}">Скачать apk-файл</a>  
        </div>
    </div>
</section>

<script>
    var typed = new Typed(".typed_text", {
        strings: [
            "Smart Electronic Locking Device", 
            "Умное электронное блокирующее устройство"
        ],
        typeSpeed: 45,
        backSpeed: 50,
        cursorChar: '',
        loop: false,
    });
</script>

{% endblock %}
