{% extends "app/layout.html" %}

{% block safe %}

<h2>{{ title }}</h2>
<h3>Here you can add your new keys for devices</h3>
<div class="form-group">
    <div>
        <button type="submit" class="btn btn-outline-dark open-popup">Add new keys for devices</button>
        <a href="{% url 'devices' %}" class="col-md-offset btn btn-outline-dark">Return to your devices</a>
    </div>
</div>
<hr />

<div class="popup-bg">
    <div class="popup">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <h4 align="center">Add new keys</h4>
            <hr />
            <div class="row row-cols-1 row-cols-lg-2 mb-2">
                <label class="col-lg-3 control-label text-center mb-1">Key</label>
                <div class="col-lg-9 child">
                    {{ form.key }}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 mb-2">
                <label class="col-lg-3 control-label text-center mb-1">Used</label>
                <div class="col-lg-9 child">
                    {{ form.used }}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 mb-2">
                <label class="col-lg-3 control-label text-center mb-1">Time</label>
                <div class="col-lg-9 child">
                    {{ form.time_end }}
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-2 mb-2">
                <label class="col-lg-3 control-label text-center mb-1">Selection</label>
                <div class="col-lg-9 child">
                    {{ form.selection }}
                </div>
            </div>
            <div class="d-grid gap-2 col-lg-8 col-10 mx-auto mb-1">
                <button type="submit" class="btn btn-outline-dark">Add</button>
            </div>
        </form>
        <div class="d-grid gap-2 col-lg-8 col-10 mx-auto">
            <button type="submit" class="btn btn-outline-dark close-popup">Close</button>
        </div>
    </div>
</div>

<div class="container dvcs">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3" id="keys-box">
    </div>
</div>

<script>

    const keys_box = document.getElementById('keys-box')

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: '{% url "get_ajax" %}',
            success: function (response) {
                const data = response.keys
                console.log(data)
                data.forEach(block => {
                    // block time
                    var options = {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        timeZone: 'UTC'
                    }

                    let new_date = new Date(block.time_end)
                    let date_end = new_date.toLocaleString('ru', options)
                    // ---!!---
                    let a_data = "{% url 'delete_key_form' device_id=987 pk=321 %}"
                        .replace(/987/, block.device_id.toString())
                        .replace(/321/, block.id.toString())
                    
                    keys_box.innerHTML += `
                     <div class="block-line">
                        <a href=${a_data} class="a-default">
                            <div class="row row-cols-2 mb-1">
                                <label class="col-lg-5 control-label text-center">Key</label>
                                <div class="col-lg-7 lining">
                                    ${ block.key }
                                </div>
                            </div>
                            <div class="row row-cols-2 mb-1">
                                <label class="col-lg-5 control-label text-center">Used</label>
                                <div class="col-lg-7 lining">
                                    ${ block.used }
                                </div>
                            </div>
                            <div class="row row-cols-2 mb-1">
                                <label class="col-lg-5 control-label text-center">End time</label>
                                <div class="col-lg-7 lining">
                                {% load l10n %}
                                {% localize on %}
                                    ${ date_end }
                                {% endlocalize %}
                                </div>
                            </div>
                        </a>
                    </div>
                    `
                })
            },
            error: function (error) { console.log(error) }
        })
    })

</script>

{% if is_paginated %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        <li class="page-num">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/main.js' %}"></script>

{% endblock %}