{% extends "app/layout.html" %}

{% block safe %}

<h2>{{ title }}</h2>
<h3>Here you can add your new keys for devices</h3>
<div class="form-group">
    <div>
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Add new keys for devices" class="btn btn-default open-popup" />
        <a href="{% url 'devices' %}" class="col-md-offset btn btn-outline-dark">Return to your devices</a>
    </div>
</div>
<hr />

<div class="popup-bg">
    <div class="popup">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <h4 align="center">Add new keys</h4>
            <hr />
            <div class="row row-cols-2 mb-2">
                <label class="col-lg-3 control-label text-center">Key</label>
                <div class="col-lg-9">
                    {{ form.key }}
                </div>
            </div>
            <div class="row row-cols-2 mb-2">
                <label class="col-lg-3 control-label text-center">Used</label>
                <div class="col-lg-9">
                    {{ form.used }}
                </div>
            </div>
            <div class="row row-cols-2 mb-2">
                <label class="col-lg-3 control-label text-center">Time</label>
                <div class="col-lg-9">
                    {{ form.time }}
                </div>
            </div>
            <div class="row">
                    <div class="parent">
                        <button type="submit" class="btn btn-outline-dark col-lg-5 col" style="margin-right: 10px">Add</button>
                        <button type="submit" class="btn btn-outline-dark close-popup col-lg-5 col">Close</button>
                    </div>
                </div>
        </form>
    </div>
</div>

<div class="container dvcs">
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-3">
        {% for block in data %}
        <div class="block-line">
            <a href="{% url 'delete_key_form' block.device_id block.id %}" class="a-default">
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Key</label>
                    <div class="col-lg-4 lining">
                        {{ block.key }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Used</label>
                    <div class="col-lg-4 lining">
                        {{ block.used }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Time</label>
                    <div class="col-lg-4 lining">
                        {{ block.time }}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% if is_paginated %}
<nav class="list-pages">
    <ul>
        {% if page_obj.has_previous %}
        <li class="page-num">
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}

        <li class="page-num">
            <a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-num">
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}


{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
<script src="{% static 'app/scripts/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'app/scripts/main.js' %}"></script>

{% endblock %}