{% if user.is_authenticated %}
<form id="logoutForm" action="/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'profile' %}" class="navbar-brand">Hello {{ user.username }}!</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>
<ul class="nav navbar-nav navbar-left">
    <li><a href="{% url 'devices' %}">Devices</a></li>
</ul>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
