{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h4>Use a local account to log in.</h4>
<hr />
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="form-group">
            <label for="{{ f.id_for_label }}" class="control-label">{{ f.label }}</label>
            <div>
                {{ f }}
            </div>
        </div>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <div class="d-grid gap-2 col-lg-8 col-10 mx-auto mb-1">
        <button type="submit" class="h-btn">Log in</button>
    </div>
</form>

{% endblock %}
