<nav>
    <a class="logo" href="{% url 'seld' %}"><span>SELD</span></a>
    <ul class="navlist">
        <li>
            <a href="{% url 'home' %}">Главная</a>
        </li>
        <li>
            <a href="{% url 'about' %}">О нас</a>
        </li>
        
        {% if user.is_authenticated %}

        <li>
            <a  href="{% url 'devices' %}">Устройства</a>
        </li>
        <li>
            <a href="{% url 'profile' %}">Аккаунт</a>
        </li>
        <li>
            <a href="{% url 'log_out' %}">Выйти</a>
        </li>

        {% else %}

        <li>
            <a href="{% url 'signup' %}">Регистрация</a>
        </li>
        <li>
            <a href="{% url 'log_in' %}">Вход</a>
        </li>

        {% endif %}
    </ul>
</nav>

<script>
    const nav = document.querySelector("nav");

    window.addEventListener("scroll", function() {
        nav.classList.toggle("sticky", window.scrollY > 70);
    });
</script>