{% extends "app/layout.html" %}

{% block content %}



<div class="container mt-5">
    {% for msg in messages %}
        {% if msg.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-success alert-dismissible" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="{{ user.profile.avatar.url }}" alt="User">
                            </div>
                            <h5 class="user-name text-white">{{ user_form.username.value }}</h5>
                        </div>
                        <div class="about">
                            <h5 class="mb-2 text-primary">About</h5>
                            <div class="text-white">{{ profile_form.bio.value }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-3 text-primary">Personal Details</h6>
                            </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="text-white">Username</label>
                                <div>{{ user_form.username }}</div>
                            </div>
                            <div class="form-group">
                                <a class="a-default-login text-white" href="{% url 'change_password' %}">Change password</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label class="text-white">Avatar</label>
                                <div>{{ profile_form.avatar }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3 text-primary mt-3">About</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <div>{{ profile_form.bio }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mt-3" style="justify-content: center; display: flex;">
                            <button type="submit" class="h-btn">Save Changes</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}