{% extends 'app/layout.html' %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <h4>Registration new users.</h4>
            <hr />
            {{ form.as_p }}
            <div class="form-group">
                <div class="col-md-1">
                    <input type="hidden" name="next" value="/" />
                    <input type="submit" value="Sign up" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}