{% extends 'app/layout.html' %}

{% block content %}

<h2 align="center">{{ title }}</h2>
<div class="row" align="center">
        <h4>Registration new users.</h4>
        <hr />
        <form method="post" class="regis-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <div align="center">
                    <input type="hidden" name="next" value="/" />
                    <input type="submit" value="Sign up" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block scripts %}

{% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}