{% extends "app/layout.html" %}

{% block safe %}

<h2>{{ title }}</h2>
<h3>Here you can update your devices</h3>
<h4 align="center">Update existing devices</h4>
<hr />

<form method="post" class="form-horizontal">
    {% csrf_token %}
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Device name</label>
                    <div class="col-lg-4 lining">
                        {{ form.device_name }}
                    </div>
                </div>
                <div class="row row-cols-2 mb-1">
                    <label class="col-lg-6 control-label text-center">Status</label>
                    <div class="col-lg-4 lining">
                        {{ form.status }}
                    </div>
                </div>
                <div class="d-grid gap-2 col-lg-8 col-10 mx-auto">
                    <button type="submit" class="btn btn-outline-dark">Update</button>
                </div>
</form>
{% endblock %}