{% extends 'app/layout.html'%}

{% block safe %}

<h2>Your device</h2>
<hr />
<div class="block-form">
    <div class="form-group">
        <label class="col-md-3 control-label">Device name</label>
        <div class="col-md-20">
            {{ data.device_name }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Serial Num</label>
        <div class="col-md-20">
            {{ data.serial_num }}
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">Status</label>
        <div class="col-md-20">
            {{ data.status }}
        </div>
    </div>
</div>
<div>
    <a href="{% url 'update_form' data.id %}" class="col-md-offset-1 btn btn-outline-dark">Update</a>
    <a href="{% url 'delete_form' data.id %}" class="col-md-offset btn btn-outline-dark">Delete</a>
    <a href="{% url 'keys' data.id %}" class="col-md-offset btn btn-outline-dark">Keys</a>
    <a href="{% url 'devices' %}" class="col-md-offset btn btn-outline-dark">Return to page</a>
</div>
{% endblock %}