{% extends 'app/layout.html'%}

{% block safe %}

<div class="form_content my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card text-center shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header">
                    <h3 class="font-weight-light col-md-offset-1">Your device</h3>
                </div>
                <div class="card-body">
                    <div class="block-card">
                        <div class="row row-cols-2 mb-1">
                            <label class="col-lg-6 control-label text-center">Device name</label>
                            <div class="col-lg-4 lining">
                                {{ data.device_name }}
                            </div>
                        </div>
                        <div class="row row-cols-2 mb-1">
                            <label class="col-lg-6 control-label text-center">Status</label>
                            <div class="col-lg-4 lining">
                                {{ data.status }}
                            </div>
                        </div>
                        <div class="row row-cols-2 mb-1">
                            <label class="col-lg-6 control-label text-center">Admin</label>
                            <div class="col-lg-4 lining">
                                {{ data.admin }}
                            </div>
                        </div>
                        <div class="row row-cols-2 mb-1">
                            <label class="col-lg-6 control-label text-center">Sync</label>
                            <div class="col-lg-4 lining">
                                {{ data.sync }}
                            </div>
                        </div>
                    </div>
                    <div class="lining">
                        <a href="{% url 'update_form' data.id %}" class="btn btn-outline-dark">Update</a>
                        <a href="{% url 'delete_form' data.id %}" class="btn btn-outline-dark">Delete</a>
                        <a href="{% url 'keys' data.id %}" class="btn btn-outline-dark">Keys</a>
                        <a href="{% url 'devices' %}" class="btn btn-outline-dark">Return to page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
{% endblock %}